page-weather {

.degree_temp{
    font-size:70px;
    text-align: center;
    font-weight: normal;
}

.centralize{
    text-align: center;
	
	
	img{
    width:100px;
}
}

.font-50{
    font-size:50px;
}

.font-40{
    font-size:40px;
}

.font-30{
    font-size:30px;
}


.font-20{
    font-size:20px;
}

}
